<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jk.dao.BrandMapper" >
  <resultMap id="brand" type="com.jk.model.Brand" >
    <id column="ID" property="id" jdbcType="DECIMAL" />
    <result column="CREATE_DATE" property="createDate" jdbcType="TIMESTAMP" />
    <result column="MODIFY_DATE" property="modifyDate" jdbcType="TIMESTAMP" />
    <result column="ORDERS" property="orders" jdbcType="DECIMAL" />
    <result column="LOGO" property="logo" jdbcType="VARCHAR" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="TYPE" property="type" jdbcType="DECIMAL" />
    <result column="URL" property="url" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.jk.model.Brand" extends="brand" >
    <result column="INTRODUCTION" property="introduction" jdbcType="CLOB" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, CREATE_DATE, MODIFY_DATE, ORDERS, LOGO, NAME, TYPE, URL
  </sql>
  <sql id="Blob_Column_List" >
    INTRODUCTION
  </sql>

  <select id="selectBrandCount" resultType="Long">
    SELECT count(1) FROM XX_BRAND WHERE 1=1
  </select>

  <select id="selectBrandPage" resultMap="brand">
    SELECT ID as id, CREATE_DATE as createDate, MODIFY_DATE as modifyDate,
    ORDERS as orders, LOGO as logo, NAME as name, TYPE as type, URL as url,INTRODUCTION as introduction FROM XX_BRAND WHERE 1=1
  </select>

  <delete id="deleteBrandByPrimaryKeys" parameterType="java.util.List">
    delete from XX_BRAND
    where ID in
    <foreach collection="list" item="it" open="(" close=")" separator=",">
      #{it}
    </foreach>
  </delete>

  <select id="selectBrandList" resultMap="brand">
    SELECT ID as id, CREATE_DATE as createDate, MODIFY_DATE as modifyDate,
    ORDERS as orders, LOGO as logo, NAME as name, TYPE as type, URL as url,INTRODUCTION as introduction FROM XX_BRAND WHERE 1=1
    <if test="brand.name != null and brand.name != ''">
      and NAME = #{brand.name,jdbcType=VARCHAR}
    </if>
  </select>

  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.math.BigDecimal" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from XX_BRAND
    where ID = #{id,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.math.BigDecimal" >
    delete from XX_BRAND
    where ID = #{id,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.jk.model.Brand" >
    insert into XX_BRAND (ID, CREATE_DATE, MODIFY_DATE, 
      ORDERS, LOGO, NAME, 
      TYPE, URL, INTRODUCTION
      )
    values (#{id,jdbcType=DECIMAL}, #{createDate,jdbcType=TIMESTAMP}, #{modifyDate,jdbcType=TIMESTAMP}, 
      #{orders,jdbcType=DECIMAL}, #{logo,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{type,jdbcType=DECIMAL}, #{url,jdbcType=VARCHAR}, #{introduction,jdbcType=CLOB}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.jk.model.Brand" >
    insert into XX_BRAND
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="createDate != null" >
        CREATE_DATE,
      </if>
      <if test="modifyDate != null" >
        MODIFY_DATE,
      </if>
      <if test="orders != null" >
        ORDERS,
      </if>
      <if test="logo != null" >
        LOGO,
      </if>
      <if test="name != null" >
        NAME,
      </if>
      <if test="type != null" >
        TYPE,
      </if>
      <if test="url != null" >
        URL,
      </if>
      <if test="introduction != null" >
        INTRODUCTION,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyDate != null" >
        #{modifyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="orders != null" >
        #{orders,jdbcType=DECIMAL},
      </if>
      <if test="logo != null" >
        #{logo,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=DECIMAL},
      </if>
      <if test="url != null" >
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="introduction != null" >
        #{introduction,jdbcType=CLOB},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jk.model.Brand" >
    update XX_BRAND
    <set >
      <if test="createDate != null" >
        CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyDate != null" >
        MODIFY_DATE = #{modifyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="orders != null" >
        ORDERS = #{orders,jdbcType=DECIMAL},
      </if>
      <if test="logo != null" >
        LOGO = #{logo,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        TYPE = #{type,jdbcType=DECIMAL},
      </if>
      <if test="url != null" >
        URL = #{url,jdbcType=VARCHAR},
      </if>
      <if test="introduction != null" >
        INTRODUCTION = #{introduction,jdbcType=CLOB},
      </if>
    </set>
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.jk.model.Brand" >
    update XX_BRAND
    set CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      MODIFY_DATE = #{modifyDate,jdbcType=TIMESTAMP},
      ORDERS = #{orders,jdbcType=DECIMAL},
      LOGO = #{logo,jdbcType=VARCHAR},
      NAME = #{name,jdbcType=VARCHAR},
      TYPE = #{type,jdbcType=DECIMAL},
      URL = #{url,jdbcType=VARCHAR},
      INTRODUCTION = #{introduction,jdbcType=CLOB}
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jk.model.Brand" >
    update XX_BRAND
    set CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      MODIFY_DATE = #{modifyDate,jdbcType=TIMESTAMP},
      ORDERS = #{orders,jdbcType=DECIMAL},
      LOGO = #{logo,jdbcType=VARCHAR},
      NAME = #{name,jdbcType=VARCHAR},
      TYPE = #{type,jdbcType=DECIMAL},
      URL = #{url,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=DECIMAL}
  </update>
</mapper>