<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jk.dao.MemberRankDao">

    <select id="queryMemberRankTotal" resultType="Long">
        select count(1) from XX_MEMBER_RANK where 1=1
    </select>

    <select id="queryMemberRankPage" resultType="com.jk.model.MemberRank">
        select * from XX_MEMBER_RANK where 1=1
    </select>

    <insert id="addMemberRank">
        insert into XX_MEMBER_RANK values((select max(ID) from XX_MEMBER_RANK)+1,sysdate,sysdate,#{amount},#{is_Default},#{is_Special},#{name},#{scale})
    </insert>

    <select id="queryMemberRankById" resultType="com.jk.model.MemberRank">
        select * from xx_member_rank where id=#{id}
    </select>

    <update id="updateMemberRank">
        update xx_member_rank set name=#{name},scale=#{scale},amount=#{amount},is_Default=#{is_Default},is_Special=#{is_Special},modify_date=sysdate where id = #{id}
    </update>

    <delete id="deleteMemberRank">
        delete xx_member_rank where id in (${ids})
    </delete>

</mapper>